/* .container{
   display: grid;
   justify-content: center;

 
} */
.section_input{
    /* width: 200%; */
    height: 100px;
    background-color: aqua;
    /* margin-top: 50px; */
    display: flex;
    justify-content: space-evenly;
    /* gap: 100px; */
   
}

.input{
    margin-top: 25px;
    margin-bottom: 25px;
    width: 300px;
    border-radius: 10px;
    border: none;
    font-family: 'Courier New', Courier, monospace;
    font-size: larger;

}
.btn{
    margin-top: 25px;
    margin-bottom: 25px;
    width: 100px;
    border-radius: 10px;
    border: none;
    font-family: 'Courier New', Courier, monospace;
    font-size: larger;

}